{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
<div class="row">
<div class="span8">
<h1>Welcome to Cleanbill</h1>

</div>
</div>
</div>
              <div class="front-signin js-front-signin">
                <form action="./login" class="signin" method="post">
                  <div class="placeholding-input username">
                    <input type="text" class="text-input email-input" name="username" title="Username or email" autocomplete="on">
                    <span class="placeholder">Email</span>
                  </div>
          
                  <table class="flex-table password-signin">
                    <tbody>
                      <tr>
                        <td class="flex-table-primary">
                          <div class="placeholding-input password flex-table-form">
                            <input type="password" class="text-input flex-table-input" name="password" title="Password">
                            <span class="placeholder">Password</span>
                          </div>
                        </td>
                  </div>
                      </tr>
                    </tbody>
                  </table>
         
                   <span>
                         <button type="submit" class="active">Sign in</button>
                         <a class="forgot" href="/account/resend_password">Forgot password?</a> 
                   </span>
                   <div class="remember-forgot" valign=bottom>
                      <input type="checkbox" value="1" name="remember_me">
                      Remember me
                  </div>  
         
                    <input type="hidden" name="return_to_ssl" value="true">
          
                  <input type="hidden" name="scribe_log">
                  <input type="hidden" name="redirect_after_login" value="">
                  <input type='hidden' value='531a5aef684c4b796e8112ecbf822adee6a2b892' name='authenticity_token'/>
                </form>
              </div>
{% endblock %}
