{% extends "base.html" %}
{% from "_helper.html" import render_field, render_bootstrap_field %}

{% block content %}
<div>
	<h1>Register a new patient</h1>
</div>
	<div class="span10">
		<form method=post action="/register" class="form-horizontal">
				<fieldset>
			<div class="row">
				<div class="span5">
			    {{ render_bootstrap_field(form.title) }}
			    {{ render_bootstrap_field(form.forenames) }}
			    {{ render_bootstrap_field(form.surname) }}
			    {{ render_bootstrap_field(form.dob) }}
			    {{ render_bootstrap_field(form.sex) }}
				</div>
			    <div class="span5">
			    {{ render_bootstrap_field(form.address_line1) }}
			    {{ render_bootstrap_field(form.address_line2) }}
			    {{ render_bootstrap_field(form.address_line3) }}
			    {{ render_bootstrap_field(form.address_line4) }}
			    {{ render_bootstrap_field(form.post_code) }}
				</div>
			</div>
			<div class="row">
				<div class="form-actions">
				<button class="btn btn-large btn-primary" type=submit value=Register>Register</button>
				</div>
			</div>
			  </fieldset>
	</form>
</div>
{% endblock %}